doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", type="text/css", href="styles/styles.css")
        title chatting-room
    body
        .loginBox 
            form#jsLogin
                input(placeholder="Enter your nickname", type="text")
        .room
            .room__info 
                ul.room__lists#jsRooms
                form.room__form#jsAddRoom
                    input(placeholder="Add a new room", type="text")
                ul.clients__lists#jsClients
            .chatContainer
                .chat
                    ul.chat__messages#jsMessages
                    form.chat__form#jsSendMsg
                        input(placeholder="Write a message", type="text")
        script(src="/socket.io/socket.io.js")
        script(src="/js/main.js")